<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<form action="/login" method="post">
    <label for="username">Username:
        <input id="username" name="username" type="text">
    </label>
    <label for="password">Password:
        <input id="password" name="password" type="password">
    </label>
    <label for="submit">Submit:
        <input type="submit" id="submit">
    </label>
</form>
<div>Login with:
    <a href="/oauth2/authorization/google">Google</a>
</div>
<form action="/registration" method="get">
    <label for="registration">Registration
        <input type="submit" id="registration">
    </label>
</form>
</body>
</html>